* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 45px;
    height: 100vh;

}

.main-container {
    border: solid black;
    width: 100%;
    background-color: #000;
}
.header h1 {
    text-align: center;
    color: white;
}

.screen-container {
    /* border: solid red; */
    margin: 85px;
    /* width: 100%; */
    height: 550px;
    background-color: #fff;
}
.keyboard-container {
    display: flex;
    /* border: solid green; */
    margin: 85px;
    /* width: 100%; */
    height: 350px;
    background-color: white;
}

.function-key-container {
    border: solid black;
    display: flex;
    justify-content: space-between;
    
} 
.function-left {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-around;
    /* border: solid yellow; */
    width: 20%;
    height: 550px;
}

.function-right {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-around;
    width: 20%;
}

.display {
    border: 5px solid black;
    width: 60%;
    border-radius: 15pxit ;
    text-align: center;
    padding-top: 280px;
    font-size: 2.3rem;
    /* background-color: aqua; */
}
.balance-inquiry {
    /* border: solid black; */
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    border-radius: 10px;
    margin-left: 10px;
}

.balance-inquiry:hover {
    background-color: rgb(72, 133, 72);
}
.deposit {
    /* border: solid black; */
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    border-radius: 10px;
    margin-left: 10px;
}

.deposit:hover {
    background-color: rgb(72, 133, 72);
}

.transfer {
    /* border: solid black; */
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    border-radius: 10px;
    margin-left: 10px;
}

.transfer:hover {
    background-color: rgb(72, 133, 72);
}

.cash-withdrawal {
    /* border: solid black; */
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    border-radius: 10px;
    margin-left: 10px;
}

.cash-withdrawal:hover {
    background-color: rgb(72, 133, 72);
}

.setting {
    /* border: solid black; */
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    border-radius: 10px;
    margin-left: 10px;
}

.setting:hover {
    background-color: rgb(72, 133, 72);
}

.language {
    /* border: solid black; */
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    border-radius: 10px;
    margin-left: 10px;
}
.language:hover {
    background-color: rgb(72, 133, 72);
}
.keyboard {
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    /* background-color: blue; */
    width: 75%;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: solid yellow; */
    /* background-color: yellow; */
    width: 25%;
    /* height: 350px; */
}
.enter {
    /* border: solid black; */
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    border-radius: 10px;
    margin-left: 20px;
}

.enter:hover {
    background-color: rgb(72, 133, 72);
}

.cancel {
    /* border: solid black; */
    width: 225px;
    height: 65px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    border-radius: 10px;
    margin-left: 20px;
}
.cancel:hover {
    background-color: rgb(72, 133, 72);
}
.line1 {
    display: flex;
    /* border: solid black; */
    justify-content: space-evenly;
    background-color: white;
    height: 25%;
    margin: 3px;
}
.line2 {
    display: flex;
    justify-content: space-evenly;
    /* border: solid black; */
    background-color: white;
    height: 25%;
    margin: 3px;
}

.line3 {
    display: flex;
    justify-content: space-evenly;
    /* border: solid black; */
    background-color: white;
    height: 25%;
    margin: 3px;
}

.line4 {
    display: flex;
    justify-content: space-evenly;
    /* border: solid black; */
    background-color: white;
    height: 25%;
    margin: 3px;
}

.number9, .number8, .number7,.number6,
.number5,.number4,.number3,.number2,.number1,.number0 {
    /* border: solid black; */
    width: 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
}

.number9:hover {
        background-color: rgb(72, 133, 72);
}
.number8:hover {
    background-color: rgb(72, 133, 72);
}
.number7:hover {
    background-color: rgb(72, 133, 72);
}
.number6:hover {
    background-color: rgb(72, 133, 72);
}
.number5:hover {
    background-color: rgb(72, 133, 72);
}
.number4:hover {
    background-color: rgb(72, 133, 72);
}
.number3:hover {
    background-color: rgb(72, 133, 72);
}
.number2:hover {
    background-color: rgb(72, 133, 72);
}
.number1:hover {
    background-color: rgb(72, 133, 72);
}
.number0:hover {
    background-color: rgb(72, 133, 72);
}
